<h1> <%= room.name %> </h1>

<pre>
  <%= comment.nil? ? room.description : comment %>
</pre>

<% if room.name == 'death' || room.name == 'The End' %>
<% else %>
  <p>
    <form action= <%= path %> method='POST'>
      <input type='text' name='action'> <input type='SUBMIT'>
    </form>
  </p>
<% end %>