<html>
  <head>
    <title>
      Captain Georg vs The Aliens
    </title>
  </head>
  <body>
    <p>
      I just wanted to say <em style="color: greein; font-size: 2em"><%= greeting %>, <%= name %> </em>
    </p>
  </body>
</html>